p {
  line-height: 20px;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.raw {
  ol {
    list-style-type: decimal;
    margin: 0 0 10px 25px;
  }
  ul {
    list-style-type: circle;
    margin: 0 0 10px 25px;
  }
}
