.avatar {
  border: 1px solid black;
  @include border-radius(5px);
  @include box-shadow(0px 1px 0px rgba(255, 255, 255, 0.2));

  img {
    display: block;
    @include border-radius(5px);
    width: 48px;
    height: 48px;
  }
}

.navbar {
  .user {
    display: none;
  }

  ul.profile {
    > li {
      border: 0px;
      
      &.user {
        display: block;
        margin-top: 2px;
        margin-right: 5px;

        img {
          width: 33px;
          height: 33px;
        }
      }

      &.logout {
        > a {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

.navbar-vertical {
  .user {
    display: block;
    border-bottom: 1px solid #1D1E21;

    .avatar {
      margin: 5px 15px;
    }
  }

  ul.profile {
    &.pull-right {
      float: none;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 80px;
    }

    > li {
      border-top: 1px solid #4A4A54;
      border-bottom: 1px solid #1D1E21;
      
      &.user {
        display: none;
      }

      &.logout {
        > a {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

.profile-menu {
  height: 70px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #1D1E21;

  .title {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;

    max-width: 120px;
    overflow: hidden;
  }

  .profile-menu-nav-collapse {
    line-height: 70px;
    margin-right: 15px;
    display: none; }
}

.nav-menu.box .hidden-option {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0; }

.nav-menu.box:hover .hidden-option {
  opacity: 1; }

.list-icons ul {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

  .list-icons ul li i {
    font-size: 16px;
    margin-right: 15px; }
