//= require select2
//= require eribium/eribium

.btn-group {
  .button {
    vertical-align: top;
  }
}

.tab-header {
  .btn-group {
    float: right;
    line-height: 20px;
    padding-right: 15px;
  }
}
